#container{
  width: 500px;
  margin: 0 auto;
  border: 2px solid black;
}
#informaciondeljuego{
padding: 15px;
font-family: sans-serif;
font-size: 20px;
font-weight: bold;
text-align: center;
background-color: #eee;
}
#cuadros{
    height:  500px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.cuadro1{
    width: 33.33%;
    height: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: cursive;
    font-size: 65px;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    margin: 0;
    padding: 0%;
}
.cuadro2{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0;
}
.cuadro3{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0%;
}
.cuadro4{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0;
  margin-top: -30px;
}
.cuadro5{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0;
  margin-top: -30px;
}
.cuadro6{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0;
  margin-top: -30px;
}
.cuadro7{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0%;
  
}
.cuadro8{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0%;
  
}
.cuadro9{
  width: 33.33%;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 65px;
  text-transform: uppercase;
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  margin: 0;
  padding: 0%;
  
}
.cuadro1.iluminado{color: green;}
.cuadro1:hover{background-color: #eee;}
.cuadro1:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro1:nth-child(3n+1),
.cuadro1:nth-child(3n+2){border-right: 15px solid red;}
.cuadro2.iluminado{color: green;}
.cuadro2:hover{background-color: #eee;}
.cuadro2:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro2:nth-child(3n+1),
.cuadro2:nth-child(3n+2){border-right: 15px solid red;}
.cuadro3.iluminado{color: green;}
.cuadro3:hover{background-color: #eee;}
.cuadro3:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro3:nth-child(3n+1),
.cuadro3:nth-child(3n+2){border-right: 15px solid red;}
.cuadro4.iluminado{color: green;}
.cuadro4:hover{background-color: #eee;}
.cuadro4:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro4:nth-child(3n+1),
.cuadro4:nth-child(3n+2){border-right: 15px solid red;}
.cuadro5.iluminado{color: green;}
.cuadro5:hover{background-color: #eee;}
.cuadro5:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro5:nth-child(3n+1),
.cuadro5:nth-child(3n+2){border-right: 15px solid red;}
.cuadro6.iluminado{color: green;}
.cuadro6:hover{background-color: #eee;}
.cuadro6:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro6:nth-child(3n+1),
.cuadro6:nth-child(3n+2){border-right: 15px solid red;}
.cuadro7.iluminado{color: green;}
.cuadro7:hover{background-color: #eee;}
.cuadro7:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro7:nth-child(3n+1),
.cuadro7:nth-child(3n+2){border-right: 15px solid red;}
.cuadro8.iluminado{color: green;}
.cuadro8:hover{background-color: #eee;}
.cuadro8:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro8:nth-child(3n+1),
.cuadro8:nth-child(3n+2){border-right: 15px solid red;}
.cuadro1.iluminado{color: green;}
.cuadro9:hover{background-color: #eee;}
.cuadro9:nth-child(-n+6){border-bottom: 15px solid red;}
.cuadro9:nth-child(3n+1),
.cuadro9:nth-child(3n+2){border-right: 15px solid red;}
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}